{% extends "ephemeral/base.html" %}
{% block content %}
<div class="privacy_policy">

<h2>プライバシーポリシー</h2>
<h3>当サイトに掲載されている広告について</h3>
<p>当サイトでは、第三者配信の広告サービス（<a href="http://www.google.com/adsense/start/">Googleアドセンス</a>、<a href="http://www.a8.net/">A8.net</a>、<a href="https://affiliate.amazon.co.jp/">Amazonアソシエイト</a>、<a href="https://www.valuecommerce.ne.jp/" target="_blank" rel="noopener noreferrer">バリューコマース</a>、<a href="https://www.apple.com/jp/itunes/affiliates/" target="_blank" rel="noopener noreferrer">iTunes アフィリエイトプログラム</a>）を利用しています。</p>
<p>このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報 『Cookie』(氏名、住所、メール アドレス、電話番号は含まれません) を使用することがあります。</p>
<p>またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、<a href="http://www.google.co.jp/policies/technologies/ads/">こちら</a>をクリックしてください。</p>
<h3>当サイトが使用しているアクセス解析ツールについて</h3>
<p>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。</p>
<p>このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。</p>
<p>このトラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>
<p>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。</p>
<p>この規約に関して、詳しくは<a href="http://www.google.com/analytics/terms/jp.html">こちら</a>、または<a href="https://www.google.com/intl/ja/policies/privacy/partners/">こちら</a>をクリックしてください。</p>
<h3>当サイトへのコメントについて</h3>
<p>当サイトでは、スパム・荒らしへの対応として、コメントの際に使用されたIPアドレスを記録しています。</p>
<p>これはブログの標準機能としてサポートされている機能で、スパム・荒らしへの対応以外にこのIPアドレスを使用することはありません。</p>
<p>また、メールアドレスとURLの入力に関しては、任意となっております。</p>
<p>全てのコメントは管理人であるEphemaraが事前にその内容を確認し、承認した上での掲載となりますことをあらかじめご了承下さい。</p>
<p>加えて、次の各号に掲げる内容を含むコメントは管理人の裁量によって承認せず、削除する事があります。</p>
<ul>
 	<li>特定の自然人または法人を誹謗し、中傷するもの。</li>
 	<li>極度にわいせつな内容を含むもの。</li>
 	<li>禁制品の取引に関するものや、他者を害する行為の依頼など、法律によって禁止されている物品、行為の依頼や斡旋などに関するもの。</li>
 	<li>その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの。</li>
</ul>
<h3>免責事項</h3>
<p>利用者は、当サイトを閲覧し、その内容を参照した事によって何かしらの損害を被った場合でも、当サイト管理者は責任を負いません。</p>
<p>また、当サイトからリンクされた、当サイト以外のウェブサイトの内容やサービスに関して、当サイトの個人情報の保護についての諸条件は適用されません。</p>
<p> 当サイト以外のウェブサイトの内容及び、個人情報の保護に関しても、当サイト管理者は責任を負いません。</p>
<p>当サイトで引用している文章や画像について、著作権は引用基にあります。</p>
<p>万が一、不適切な記事、画像、リンク等がありましたら早急に削除するなどの対応を致しますので、恐れ入りますがお問い合わせフォームからご連絡くださるようよろしくお願い致します。</p>
<p>&nbsp;</p>
<h3>お問い合わせ</h3>
<p>当サイトの個人情報の取扱に関するお問い合せは<a href="{% url 'contact' %}"><span style="text-decoration:underline;">こちら</span></a>からご連絡ください。</p>
</div>
{% endblock %}